:root {
   // font-size: 16px;
  font-size: 14px;
}

@font-face {
  font-family: iosevka;
  src: url("../fonts/Iosevka.woff");
  font-weight: 500;
}

* {
  font-family: iosevka !important;
  text-align: center;
}

html,
body {
  background: var(--black) !important;
}
