@media only screen and (max-width: 450px) {
  .icons {
    font-size: 3rem;
  }

  .icons span {
    font-size: 0.95rem;
  }

  .icon_grid {
    gap: 5px;
  }
}

@media only screen and (min-width: 600px) {
  #navbar {
    display: flex;
  }

  #ham_button {
    visibility: hidden;
  }

  section:first-child {
    padding-top: 100px;
  }
  #about {
    p {
      flex-direction: row;
    }
    .info {
      text-align: left;
      margin-left: 25px;
    }
  }
  .skill_n_tools {
    flex-direction: row;
    justify-content: center;
  }
  .skills {
    margin-right: 110px;
  }
  .mentions {
    a {
      text-decoration: none;
    }
    li a {
      font-size: 1.7rem;
    }
    span {
      font-size: 2.2rem;
    }
  }
}

@media only screen and (min-width: 640px) {
  .hero_banner.small {
    display: none;
  }

  .hero_banner.big {
    display: block;
  }
}

@media only screen and (min-width: 850px) {
  .project img {
    max-width: 500px;
  }
}

@media only screen and (max-width: 850px) {
  .project,
  .projects-container:nth-child(even) .project {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    div {
      align-items: flex-start;
      margin: 0;
      margin-top: 15px;
      margin-left: 10px;
    }

    .desc {
      width: 80%;
    }

    .made_with {
      b {
        margin: 8px;
      }
    }

    span,
    h4 {
      text-align: left;
    }
  }
}
