/* dracula is default theme */
.dracula {
  // --black  : #282a36;
  --grey   : #44475a;
  --green  : #50fa7b;
  --orange : #ffb86c;
  --pink   : #ff79c6;
  --red    : #ff5555;
  --yellow : #f1fa8c;
  --cyan   : #8be9fd;

  --black  : #191a21;
  --purple : #bd93f9;
  --white  : #f8f8f2;
}
