header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: var(--black);
  background-image: url("../images/circuit-board.svg");
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_banner {
  position: relative;
  color: var(--purple);
  text-align: left;
  padding: 15px;
  line-height: normal;
  background: var(--black);
}

.hero_name,
.hero_developer {
  display: inline-block;
}

.hero_split {
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  margin-bottom: 0px;
  padding: 2px 0;
}
.hero_split.border_like {
  padding: 15px 0;
  margin-bottom: 45px;
}
.hero_split:after, .hero_split:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 50%;
  left: 0;
}
.hero_split:before {
  background: linear-gradient(90deg, var(--black) 0%, var(--black) 50%, transparent 50%, transparent 100%);
  background-size: 15px;
  background-position: center;
}
 
.hero_split:after {
  background: var(--purple);
  background-size: 200%;
  background-position: 0%;
}

.hero_banner.small {
  display: block;
  font-size: 3rem;
  line-height: 1.5;
}

.hero_banner.big {
  display: none;
  font-size: 5rem;
  min-width: 420px;
  padding: 20px;
}

#scroll_button {
  width: 60px;
  height: 70px;
  position: absolute;
  bottom: 5%;
  background: var(--black);
  &:hover {
    cursor: pointer;
  }
}

.scroll_icon {
  $size: 24px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 8px;
  width: $size;
  // width: 14px;
  height: calc($size * 2);
  // height: 28px;
  border: solid 2px var(--purple);
  border-radius: calc($size / 2);
  // border-radius: 7px;
  &::after {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc($size / 2.5);
    height: calc($size / 2.5);
    // top: 5px;
    // left: 3px;
    // width: 4px;
    // height: 4px;
    border-radius: 50%;
    background: var(--purple);
    content: " ";
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
}
