/* -- SVG section separator -- */
.svg-separator {
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}

.svg-separator.bottom {
  top: auto;
  bottom: 0;
}

.sep3 {
  transform: translateY(-100%) translateY(2px) scale(1, 1);
  transform-origin: top;
}

.black-separator .first {
  fill: var(--black);
}

.black-separator .second {
  fill: var(--purple);
}

.black-separator .third {
  fill: var(--black);
}

.purple-separator .first {
  fill: var(--purple);
}

.purple-separator .second {
  fill: var(--black);
}

.purple-separator .third {
  fill: var(--purple);
}
